extends main.pug
block inHead
    <script src="scripts/blog.js" type="text/javascript"></script>
    <link href="styles/blog.css" rel="stylesheet">


block content
    div.content-body
        h1.text-center Blog
        div.text-container-center
            h4 Our blog is home to many articles consisting of announcements, descriptions of the language, use cases and much more. You will find articles written by both the Nim developers as well as guest authors.
        section.container
            div.row
                div.col-3.text-info
                    time(datetime="2019-09-08") Sep 8, 2019
                    div.article-author.
                        The XON team
                div.col-8
                    div.article-content
                        h3 Version 1.0 released
                        div The XON team is happy to announce last update which include new README.md
            hr.my-4
        section.container
            div.row
                div.col-3.text-info
                    time(datetime="2019-09-08") Sep 2, 2019
                    div.article-author.
                        The XON team
                div.col-8
                    div.article-content
                        h3 Version 1.0 released
                        div We proud to announce 1.0 version